<div class="solife-login-form">
  <div class="solife-login-inner" style="box-shadow: 0 0 1em black;" >

    <div class="social-login" style="height:50px;">
        <div class="label label-success" style="width:400px;line-height:50px;height:50px;;font-size: 35px;text-align:center;">
          翻译达人
        </div>
    </div>

    <% if user_signed_in? and !request.path_info.include?("switch") %>
        <div class="control-group">
          <div class="controls">
            <div class="current-user"><strong><%= current_user.name %></strong> -已登陆</div>
          </div>
          <div class="controls">
            <%= link_to "切换帐户", switch_user_session_path, remote: true, class: "btn-primary btn-info right" %>
          </div>
          <div class="controls">
            <%= link_to "退出", destroy_user_session_path, method: :delete,  remote: true, class: "btn-primary btn-info right" %>
          </div>
        </div>
    <% else %>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
           <div class="error-message-field">
             <%= alert %>
           </div>

            <%= f.input :email, wrapper: :prepend, label: false do %>
              <%= content_tag :span, content_tag(:span, "", class: "solife-login login-user"), class: "add-on" %>
              <%= f.input_field :email, placeholder: "注册邮箱", autofocus: true, :required => true %>
            <% end %>

            <%= f.input :password,wrapper: :prepend, label: false do %>
              <%= content_tag :span, content_tag(:span, "", class: "solife-login login-pwd"), :class => "add-on" %>
              <%= f.input_field :password, placeholder: "密码",:required => true %>
            <% end %>

            <%= f.input :password_confirmation,wrapper: :prepend, label: false do %>
              <%= content_tag :span, content_tag(:span, "", class: "solife-login login-pwd"), :class => "add-on" %>
              <%= f.input_field :password_confirmation, placeholder: "确认密码",:required => true %>
            <% end %>

            <%= f.button :submit, "注册", class: "btn-primary btn-info right" %>
        <% end %>
    <% end %>

  </div>
</div>
